@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');


:root{
    --green:#27ae60;
    --black:#2c2c54;
  }
  
  *{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
  }

  html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6.5rem;
    scroll-behavior: smooth;
  }

.header-1{
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
    /* padding:2rem 9%; */
  }

.item1 { grid-area: main; }
.item2 { grid-area: right; }


.grid-container {
  display: grid;
  grid-template-areas:
    'main right';
    grid-gap: -50px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-gap: 10px;
}

.second_div_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0px;
}

.wrapper{
	display: flex;
	flex-wrap: nowrap;
}

.sidebar{
	width: 300px;
	background: white;
	color:#fff;
	min-height: calc(100vh);
}

.sidebar ul{
	padding-left:0 !important;
}
.sidebar .nav-bar li{
	list-style: none;
	height:50px;
	padding:20px;

}

.move_left{
    position: relative;
    -webkit-transition-duration:1s;
   -webkit-transition-timing-function:linear;
   -webkit-transition-delay:0s;
}

.move_left:hover{
    left:7px;
}



.sidebar .nav-bar li a{
	color:black;
	text-decoration: none;
	display:block;
}

/* .sidebar .nav-bar li:hover{
	background: #dc3545;
}

.sidebar .nav-bar li:hover a{
	color:#fff;
} */

.for_second_div_nav_ul_list{
    list-style-type: none;
    font-size: 18px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: 900;
}

.for_second_div_nav_list{
    float: left;
}

.for_second_div_nav_list a{
    display: block;
    /* padding-top: 8px;
    padding-left: 50px;
    padding-right: 50px; */
    padding-bottom: 8px;
    background-color: white;
    text-decoration: none;
    color:black;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    /* height then width */
    padding: 15px 134px;   
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
}

.button_white{
    background-color: white;
    color:black;
    border: 1px solid #e7e7e7;
    font-size: 18px;
    font-weight: 900;
}



